.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 0.87rem;
  text-align: center;
  padding: 1.87rem 0;
  position: relative;
}

.footer h3 {
  font-size: 2.25rem;
  font-weight: 700;
  position: relative;
  padding: 0;
  margin: 0 0 0.93rem 0;
}

.footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 1.87rem 0;
}

.footer .social-links {
  margin: 0 0 1.87rem 0;
}

.footer .social-links a:hover {
  text-decoration: none;
}

.credits-release{
  font-size: 0.8rem;
  padding-top: 0.31rem;
  color: var(--surface-color);
}

.credits-release a{
  color: #505050;
}

.copyright,
.credits {
  display: none;
}

.copyright {
  padding-top: 1.56rem;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.credits {
  font-size: 0.81rem;
  padding-top: 0.31rem;
}

@media (max-width: 1199px) {
  .footer .social-links a {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin: 0 0.25rem;
    border-radius: 50%;
    text-align: center;
    width: 2.25rem;
    height: 2.25rem;
    transition: 0.3s;
  }

  .bi{
    margin: 0 !important;
  }
}