.portfolio-info {
  text-align: start;
}

.portfolio-content {
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-content {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-content img {
  transition: 0.3s;
}

.portfolio .portfolio-content .portfolio-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.9rem;
}

.portfolio .portfolio-content .portfolio-info h4 {
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  background-color: var(--accent-color);
}

.portfolio .portfolio-content .portfolio-info p {
  position: absolute;
  bottom: 0.6rem;
  text-align: center;
  display: inline-block;
  left: 0;
  right: 0;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.portfolio .portfolio-content .portfolio-info .preview-link,
.portfolio .portfolio-content .portfolio-info .details-link {
  position: absolute;
  left: calc(50% - 40px);
  font-size: 1.6rem;
  top: calc(50% - 14px);
  color: #ffffff;
  transition: 0.3s;
  line-height: 1.2;
}

.portfolio .portfolio-content .portfolio-info .preview-link:hover,
.portfolio .portfolio-content .portfolio-info .details-link:hover {
  color: var(--accent-color);
}

.portfolio .portfolio-content .portfolio-info .details-link {
  left: 50%;
  font-size: 2.1rem;
  line-height: 0;
}

.portfolio .portfolio-content:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-content:hover img {
  transform: scale(1.1);
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 1.2rem;
  position: relative;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 0.7rem;
  height: 0.7rem;
  background-color: color-mix(in srgb, var(--default-color), transparent 85%);
  opacity: 1;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

.portfolio-details .portfolio-info {
  background-color: var(--surface-color);
  padding: 1.8rem;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.1);
}

.portfolio-details .portfolio-info h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 0.06rem solid
    color-mix(in srgb, var(--default-color), transparent 85%);
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 1rem;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 0.6rem;
}

.portfolio-details .portfolio-description {
  padding-top: 1.8rem;
}

.portfolio-details .portfolio-description h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.portfolio-details .portfolio-description p {
  padding: 0;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
}

@media (max-width: 575px) {
  .portfoli-info {
    font-size: 0.8rem;
    margin: 0 0.3rem;
  }
}